[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
selenium = "*"
bs4 = "*"
pyquery = "*"
protobuf = "*"
pika = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
