[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
py-spy = "*"
pprofile = "*"
pyinstaller = "*"
pyinstrument = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
selenium = "*"
bs4 = "*"
pyquery = "*"
protobuf = "*"
pika = "*"
pyyaml = "*"
requests = "*"
python-telegram-bot = "*"
psutil = "*"

[requires]
python_version = "3.8"
